.email-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  backdrop-filter: blur(5px);
}
.email-top {
  display: flex;
}
.email-top {
  background: white;
  padding: 50px 10px 10px 10px;
  border-radius: 50px 50px 0 0;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  position: relative;
}
.email-top-div {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.email-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.email-mndtry {
  color: #908e96;
  font-size: 12px;
  text-align: right;
}
.email-subtitle {
  color: #908e96;
  font-size: 12px;
  text-align: left;
}
.email-top-title {
  display: flex;
  flex-direction: column;
}
.email-top-ttl {
  color: #372f62;
  font-size: 18px;
  font-weight: bold;
}
.email-para-main {
  font-size: 10px;
  color: #a3a1ae;
  margin: 0;
}
.app-logos {
  width: 10%;
  padding: 10px;
  background: #372f62;
  border-radius: 100px;
}
.email-dialog-main {
  position: fixed;
  bottom: 0;
}
.email-dnld-main {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.email-img {
  width: 52%;
}

.email-sub-page {
  background: #372f62;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 10px 20px;
  border-radius: 40px 40px;
  gap: 20px;
}
.email-cnt-img {
  display: flex;
}
.email-choose {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.submit-email:focus-visible {
  outline: none;
}
.email-input-error {
  display: flex;
  flex-direction: column;
}
.email-error {
  color: white;
  background: #9a1832;
  padding: 10px;
  border-radius: 50px 0 50px 50px;
  width: fit-content;
  font-size: 16px;
  display: flex;
}
.submit-email {
  background: #372f62;
  padding: 18px 20px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  box-shadow: inset -3px -3px 6px 0px #403672, inset 3px 3px 6px 3px #2d2653;
  border: none;
}
.email-btns {
  display: flex;
  justify-content: space-between;
}
.email-skip {
  background: #b6acec;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  width: fit-content;
}
.email-done {
  background-image: linear-gradient(to right, #e49457, #e7c985);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 10px 50px;
  width: fit-content;
}
