.spec-main {
  display: none;
}

@media only screen and (max-width: 767px) {
  .paginationdot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #d3b36c;
    margin-right: 5px;
    cursor: pointer;
  }

  .spec-main {
    display: block;
    border-radius: 50% 50% 0 0;
  }

  .spec-one {
    background: #e7c985;
    padding: 0px 0px 30px 0px;
    position: relative;
    top: -1px;
  }
  .spec-ttl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .spec-ttl1 {
    color: #fff;
    font-size: 30px;
  }
  .spec-img {
    height: 120px;
    width: 120px;
    border-radius: 100%;
  }
  .spec-page {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
  .spec-doclist {
    display: flex;
    gap: 20px;
    overflow-y: auto;
    max-height: 300px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-left: 3px;
    margin-right: 3px;
   
  }
  .spec-doclist::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome/Safari */
  }
  .spec-doc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 8px;
  }
  .spec-docname {
    margin: 0;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
  }
  .spec-docspec {
    margin: 0;
    color: #fff;
    font-size: 10px;
  }
  .spec-two {
    position: relative;
    display: flex;
    background: #1e1745;
    /* padding: 0 0 0 20px; */
    top: -2px;
  }
  .spec-two-left {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
    padding: 30px 0 0 10px;
  }
  .del-btn-cnt {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .spec-two-ttl {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .medicine-abt {
    display: flex;
    padding: 0 0 20px 0;
  }
  .del-ttl1 {
    color: #ff86e5;
    font-size: 12px;
    margin: 0;
  }
  .del-ttl2 {
    font-size: 26px;
    color: #fff;
    margin: 0;
    font-weight: 400;
  }
  .del-ttl3 {
    font-size: 26px;
    font-weight: 700;
    background-image: linear-gradient(to right, #e8d48f, #e48e51);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: block;
  }
  .del-cnt {
    margin: 0;
    font-size: 10px;
    color: #b8adad;
    width: 140%;
    line-height: 1.3;
  }
  .del-btn {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 8px;
    border-radius: 100px;
    border: none;
    white-space: nowrap;
    background: linear-gradient(to right, #e49356, #e7cb87);
    box-shadow: 0px 12px 10px -6px rgba(228, 147, 86, 0.5);
  }
  .medicine-icon {
    width: 40%;
  }
  .delivery-boy {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
  }
  .amnt-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
  .amen-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .amenities-icon {
    font-size: 36px;
    color: #e957c9;
  }
  .amenities {
    margin: 0;
    color: #372f62;
    font-size: 12px;
    font-weight: 700;
  }
  .spec-three {
    padding: 0 10px 30px 10px;
  }
  .reviews-list {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .reviews-list::-webkit-scrollbar {
    display: none;
  }

  .reviews-list::-webkit-scrollbar-thumb {
    display: none;
  }

  .reviews-list::-webkit-scrollbar-track {
    display: none;
  }
  .reviews {
    /* background: #f3f1fd; */
    background: #ffcff5;
    border-radius: 50px;
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px 30px 10px;
  }
  .reviews-cust-one,
  .reviews-cust-two,
  .reviews-cust-three {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .rev-ttl {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
  }
  .reviews-customers {
    display: flex;
  }
  .rev-customers {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .rev-customersone,
  .rev-customerstwo {
    display: flex;
    background: #fff;
    margin: 0 10px 0 10px;
    border-radius: 40px;
    padding: 10px;
    gap: 20px;
    align-items: center;
    width: 84vw;
  }
  .rev-ttl1 {
    /* color: #372f62; */
    color: #c478b4;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .rev-ttl2 {
    color: #372f62;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #e957c9;
  }
  .cus-imgone {
    width: 150px;
    height: 150px;
    background-image: url("../../assets/layer.svg");
  }
  .cus-imgtwo {
    width: 150px;
    height: 150px;
    background-image: url("../../assets/layer.svg");
    transform: rotate(90deg);
  }
  .cust-name {
    color: #372f62;
    font-size: 16px;
    font-weight: bold;
  }
  .cust-cnt {
    font-size: 10px;
    color: #372f62;
  }
  .cust-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
}
