.confirm-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  backdrop-filter: blur(5px);
}
.confirm-top {
  display: flex;
}
.confirm-top {
  background: white;
  padding: 50px 10px 10px 10px;
  border-radius: 50px 50px 0 0;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}
.confirm-top-div {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}
.confirm-top-title {
  display: flex;
  flex-direction: column;
}
.confirm-top-ttl {
  color: #372f62;
  font-size: 16px;
  font-weight: bold;
}
.confirm-para-main {
  font-size: 10px;
  color: #a3a1ae;
  margin: 0;
}
.app-logos {
  width: 10%;
  padding: 10px;
  background: #372f62;
  border-radius: 100px;
}
.confirm-dnld-main {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.confirm-city-img {
  width: 52%;
  margin-right: 28px;
}
.confirm-sub-page {
  background: #372f62;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 10px 20px;
  border-radius: 40px 40px;
  gap: 30px;
}
.confirm-cnt-img {
  display: flex;
}
.confirm-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.confirm-dialog-main {
  position: fixed;
  bottom: 0;
}
.booking-ph-email {
  display: flex;
  flex-direction: column;
}
.confirm-error {
  color: white;
  background: #9a1832;
  padding: 10px;
  border-radius: 50px 0 50px 50px;
  width: fit-content;
  font-size: 12px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 4px;
}
.confirm-phone-email {
  background: #372f62;
  padding: 18px 20px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  box-shadow: inset -3px -3px 6px 0px #403672, inset 3px 3px 6px 3px #2d2653;
  border: none;
}
.confirm-phone-email:focus-visible {
  outline: none;
}
.confirm-address-main {
  display: flex;
  justify-content: space-between;
}

.confirm-done {
  background-image: linear-gradient(to right, #e49457, #e7c985);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 10px 40px;
  width: -webkit-fill-available;
}
.confirm-doc-time {
  font-size: 16px;
  font-weight: bold;
  background-image: linear-gradient(to right, #e48e51, #e8d48f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.confirm-address-doc {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 6px;
}
.confirm-doc-name,
.confirm-clinic {
  color: white;
  font-size: 14px;
}
.confirm-treat,
.confirm-address {
  color: #908e96;
  font-size: 12px;
}
.confirm-full-address {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
  width: 50%;
}
