.otherpay-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  backdrop-filter: blur(5px);
}

.otherpay-close {
  color: #fff;
  font-size: 26px;
  padding: 16px;
  border: 1px solid #a6a6a8;
  border-radius: 100px;
}
.otherpay-img {
  width: 80%;
}
