.dropdown {
  position: relative;
}

.selected-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  /* width: 80vw; */
  color: #a1a0a8;

  background: rgb(46, 39, 86);
  border-radius: 40px;
  /* box-shadow: rgb(64, 54, 114) -3px -3px 6px 0px inset,
    rgb(45, 38, 83) 3px 3px 6px 3px inset; */
}

.drop-options {
  /* position: absolute; */
  /* top: calc(100% + 10px);
  left: 0; */
  /* width: 60vw;
  height: 130px; */
  /* overflow: hidden; */
  height: 100%;
  overflow: scroll;
  border-top: none;
  border-radius: 20px;
  /* background-color: #2e2756; */
  z-index: 1;
  list-style-type: none;
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

/* Custom scrollbar styles for WebKit-based browsers */
.drop-options::-webkit-scrollbar {
  width: 12px;  /* Width of the scrollbar */
}

.drop-options::-webkit-scrollbar-track {
  background: #f1f1f1;  /* Background of the scrollbar track */
}

.drop-options::-webkit-scrollbar-thumb {
  background: #888;  /* Color of the scrollbar thumb */
  border-radius: 10px;  /* Rounded corners */
}

.drop-options::-webkit-scrollbar-thumb:hover {
  background: #555;  /* Color of the scrollbar thumb on hover */
}

/* Custom scrollbar styles for Firefox */
.drop-options {
  scrollbar-width: 20px;  /* Scrollbar width */
  scrollbar-color: #E957C9 #f1f1f1;  /* Scrollbar thumb and track colors */
}

.drop-options li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}

.option-icon {
  font-size: 20px;
  border-radius: 100px;
  padding: 10px;
  background: #f3f1fd;
}

.option-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #372f62;
  padding: 10px;
  border-radius: 20px;
  width: -webkit-fill-available;
  text-align: left;
}
.option-fee {
  background: #e957c9;
  font-size: 12px;
  color: white;
  padding: 6px;
  border-radius: 20px;
  white-space: nowrap;
  font-weight: bold;
}
