.dropdown {
  position: relative;
}

.selected-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
  font-size: 14px;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  width: 80vw;
  color: #a1a0a8;
}

.drop-options {
  position: absolute;
  /* top: calc(100% + 10px); */
  /* left: 0; */
  width: 60vw;
  height: 130px;
  overflow: hidden;
  border-top: none;
  border-radius: 20px;
  background-color: #2e2756;
  z-index: 1;
  list-style-type: none;
  padding: 14px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.drop-options li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}

.option-icon {
  font-size: 20px;
  border-radius: 100px;
  padding: 10px;
  background: #f3f1fd;
}

.option-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #372f62;
  padding: 10px;
  border-radius: 20px;
  width: -webkit-fill-available;
  text-align: left;
}
