.success-popup-one {
  border: 2px solid #e6b372;
  border-radius: 30px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  /* backdrop-filter: blur(10px); */
  background-color: rgb(129 127 127 / 30%);
  width: 40%;
}
.success-popup-two {
  border: 2px solid #e6b372;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* backdrop-filter: blur(10px); */
  background-color: rgb(129 127 127 / 30%);
  width: 50%;
}
.success-datetime {
  font-size: 20px;
  font-weight: 700;
  color: transparent;
  background-image: linear-gradient(to right, #e48e51, #e8d48f);
  -webkit-background-clip: text;
  background-clip: text;
}
.success-docdetail,
.success-treatment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.success-doctitle,
.success-treatloc {
  font-size: 12px;
  color: #fff;
}
.success-docname,
.success-treattype {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.success-done {
  -webkit-background-clip: text;
  background-clip: text;
  color: #615b5b;
  padding: 16px 16px;
  border-radius: 100px;
  font-size: 28px;
  background: linear-gradient(to right, #d98952, #e8d38e);
}
.success-title {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.success-dialog {
  position: relative;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  backdrop-filter: blur(5px);
}

.dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.open-dialog-button {
  padding: 10px 20px;
  background-color: #372f62;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-dialog-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.success-closebtn {
  color: #fff;
  font-size: 26px;
  padding: 16px;
  border: 1px solid #a6a6a8;
  border-radius: 100px;
}
.success-next {
  color: #fff;
  background: linear-gradient(to right, #d98952, #e8d38e);
  padding: 6px 20px;
  border-radius: 20px;
  font-size: 20px;
}
.success-paymenttwo-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
