.hd-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #372f62;
  padding: 10px 80px;
  height: 8vh;
}

.hd-header {
  display: none;
}

.hd-logo {
  height: 50px;
}
.hd-menu {
  display: flex;
  gap: 30px;
}

.hd-hamburger {
  display: none; /* Hide by default */
  cursor: pointer;
}

.hd-line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}
.hd-btn1,
.hd-btn2,
.hd-btn3,
.hd-btn4 {
  background: none;
  font-size: 24px;
  border: none;
  font-weight: 600;
  font-family: "League Spartan", sans-serif;
  color: #ffffff;
}
.hd-menu.open {
  display: none;
}
/* media query */
@media only screen and (max-width: 767px) {
  .hd-main {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .hd-citymain {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    /* Add any other necessary styles */
  }

  .citylist {
    display: flex;
    /* Add any other necessary styles */
  }

  /* Adjust the width of city items as needed */
  .cityitem {
    margin-right: 20px; /* Add some spacing between city items */
  }
  .hd-logo {
    height: 36px;
  }
  .hd-btn1,
  .hd-btn2,
  .hd-btn3,
  .hd-btn4,
  .hd-btn5,
  .hd-btn6,
  .hd-btn7,
  .hd-btn8,
  .hd-btn9 {
    background: none;
    font-size: 16px;
    border: none;
    font-weight: 600;
    font-family: "League Spartan", sans-serif;
    color: #ffffff;
    text-align: left;
  }

  .hd-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: calc(100% + 10px); /* Position below the hamburger icon */
    left: 0;
    width: fit-content;
    padding: 20px;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
  }
  .hd-citymain {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    padding: 4px 6px;
    gap: 10px;
    z-index: 0;
  }
  .city-txt {
    font-size: 12px;
    font-weight: bold;
    background-image: linear-gradient(to right, #e4c17f, #e48e51);
    background-clip: text;
    color: transparent;
    white-space: nowrap;
    margin: 0;
  }
  .citypagenum {
    font-size: 10px;
    font-weight: bold;
    color: #e957c9;
  }
  .citypagenum {
    color: #e957c9;
    font-size: 10px;
    font-weight: 700;
    display: flex;
  }
  .tooltip-main {
    display: flex;
    align-items: center;
    background-color: rgba(99, 97, 128, 0.5);
    backdrop-filter: blur(2px);
    padding: 10px 10px;
    border-radius: 10px;
    /* width: 118px;
    height: 58px;
    justify-content: flex-start; */
  }
  .tt-months-cnt {
    transform: rotate(-90deg);
    padding: 10px 0px;
  }
  .tt-months {
    font-size: 10px;
    color: #e4ac6e;
    margin: 0;
    white-space: nowrap;
  }
  .tooltip-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .tt-num {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 0;
  }
  .tt-pat {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    margin: 0;
  }

  .ham-opn,
  .ham-cls {
    font-size: 24px;
    color: #e4c17f;
    cursor: pointer;
  }
  .hd-hamburger {
    display: flex; /* Show on mobile */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 10px 0 #403672, 5px 5px 10px 0 #2d2653;
    padding: 6px 14px;
    border-radius: 20px;
    cursor: pointer;
  }
  

  .hd-menu.hd-open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    position: absolute;
    top: 110px;
    text-align: left;
    background: #372f62;
  }
  .menuactive {
    background-image: linear-gradient(to right, #e48e51, #e8d48f);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }

  .citylist {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    /* max-height: 300px; */
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 110px;
  }
  .citylist::-webkit-scrollbar {
    display: none;
  }
  .cityitem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
  }
  .hd-header {
    position: absolute;
    right: 0;
    top: 0;
    height: 130px;
    width: 300px;
    display: block;
  }
  .hd-cityimg {
    border-radius: 30px;
  }
  .citypagenum .paginationdot {
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #d3b36c;
    margin-right: 5px;
    cursor: pointer;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .hd-main {
    padding: 10px 40px;
  }
}
