.otp-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  backdrop-filter: blur(5px);
}
.otp-top {
  display: flex;
}
.otp-top {
  background: white;
  padding: 50px 10px 10px 10px;
  border-radius: 50px 50px 0 0;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  position: relative;
}
.otp-top-div {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.otp-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.otp-mndtry {
  color: #908e96;
  font-size: 12px;
  text-align: right;
}
.otp-subtitle {
  color: #908e96;
  font-size: 12px;
  text-align: left;
}
.otp-top-title {
  display: flex;
  flex-direction: column;
}
.otp-top-ttl {
  color: #372f62;
  font-size: 18px;
  font-weight: bold;
}
.otp-para-main {
  font-size: 10px;
  color: #a3a1ae;
  margin: 0;
}
.app-logos {
  width: 10%;
  padding: 10px;
  background: #372f62;
  border-radius: 100px;
}
.otp-dnld-main {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.otp-img {
  width: 52%;
}

.otp-sub-page {
  background: #372f62;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 10px 20px;
  border-radius: 40px 40px;
  gap: 20px;
}
.otp-cnt-img {
  display: flex;
}
.otp-choose {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.submit-otp:focus-visible {
  outline: none;
}
.otp-dialog-main {
  position: fixed;
  bottom: 0;
}
.otp-input-error {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.otp-error-main {
  display: flex;
  transform: translate(70%);
}
.otp-error {
  color: white;
  background: #9a1832;
  padding: 10px;
  border-radius: 50px 0 50px 50px;
  width: fit-content;
  font-size: 12px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 4px;
}
.otp-inputs {
  display: flex;
  justify-content: space-between;
}
.submit-otp {
  background: #372f62;
  padding: 18px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  box-shadow: inset -3px -3px 6px 0px #403672, inset 3px 3px 6px 3px #2d2653;
  border: none;
  height: 30px;
  width: 30px;
  text-align: center;
}
.timer-txt-timer {
  display: flex;
  justify-content: space-between;
}
.timer-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 10px;
}
.timer-otp {
  background-image: linear-gradient(to right, #e48e51, #e8d48f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 14px;
  font-weight: bold;
}
.otp-btns {
  display: flex;
  justify-content: space-between;
}
.otp-resend {
  background-image: linear-gradient(to right, #e48e51, #e8d48f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 14px;
  font-weight: bold;
}
.otp-done {
  background-image: linear-gradient(to right, #e48e51, #e7c985);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 10px 40px;
  width: -webkit-fill-available;
}

.otp-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
