.ser-main {
  display: none;
}
@media only screen and (max-width: 767px) {
  /* Services.css */
  .ser-main {
    /* Add CSS properties to enable horizontal scrolling */
    overflow-x: auto;
    /* white-space: nowrap; */
  }

  .services-paragraphs {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .services-paragraphs::-webkit-scrollbar {
    display: none;
  }

  .services-paragraphs::-webkit-scrollbar-thumb {
    display: none;
  }

  .services-paragraphs::-webkit-scrollbar-track {
    display: none;
  }
  .services-paraone,
  .services-paratwo,
  .services-parathree {
    /* width: 100%;
    display: flex;
    flex-direction: column; */
    /* padding: 20px; */
    padding: 0 20px 20px 20px;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
    /* padding: 0px 10px;
    margin-right: 20px; */
  }

  .ser-main {
    display: block;
  }

  .ser-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
  }
  .ser-ttl {
    font-size: 30px;
    color: #e957c9;
  }

  .ser-page {
    color: #e957c9;
    font-size: 16px;
    font-weight: 700;
  }
  .ser-icttl {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  /* .container.ser-active {
    padding: 10px 20px 20px 20px;
  } */

  .icon {
    width: 26px;
    padding: 10px;
    background: #e5e4f0;
    border-radius: 100px;
  }

  .title {
    color: #372f62;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
  }

  .image {
    width: 150px;
    border-radius: 20px;
    transition: width 0.3s ease;
  }
  .imageservice {
    /* width: 130px; */
    height: 40px;
    border-radius: 20px;
    transition: width 0.3s ease;
  }

  .content {
    display: block;
    margin: 0;
    text-align: left;
    color: #615f6f;
    font-size: 12px;
    white-space: normal;
  }

  .container.ser-active .image {
    /* width: 50vw; */
    height: auto;
    border-radius: 20px;
  }
  .imageenlarge {
    border-radius: 20px;
    transition: width 0.3s ease;
    height: 70px;
  }
  .curve-colorone {
    background: #e7c985;
    position: relative;
    top: 1px;
  }
  .curve-colortwo {
    background: #fff;
    /* border: solid 5px #000; */
    /* border-color: #000 transparent transparent transparent; */
    border-radius: 70%/150px 150px 0 0;
    transform: rotate(180deg);
  }
  .bk-btn-bkgrd {
    /* background: linear-gradient(to right, #e49356, #e7cb87); */
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #e7cb87 67%,
      #e49356 100%
    );
    font-size: 24px;
    font-weight: bold;
    font-family: "League Spartan", sans-serif;

    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .bk-btn {
    padding: 30px 50px;
    background: #372f62;
    border: none;

    border-radius: 50%;
    margin: 20px;
    transform: rotate(180deg);
  }
}
